.work {
  padding: 10rem 10%;
  background-color: #171F38;
}

.work h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

.work-list {
  margin-top: 5rem !important;
  margin: 6% 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 3rem;
}


.work-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 6rem;
  overflow: visible;
  width: 400px;
  height: 300px;
  margin-bottom: 5rem;
}

.work-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
  background-color: transparent;
}

.back,
.front {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.front {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back {
  transform: rotateY(180deg);
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: auto;
  gap:2rem;
}

.back-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.back h1 {
  font-weight: 700;
  font-size: 2.6rem;
  color: white;
  background-color: transparent;
}

.back p {
  margin: 2rem;
  font-family: 400;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  background-color: transparent;
}

.work-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3rem;
}

.work-link {
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.back .work-icon {
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.back .work-icon2 {
  font-size: 2.3rem;
  color: var(--text-color);
  cursor: pointer;
}

.back .work-icon:hover {
  color: white;
}

.work-back-image {
  position: absolute;
  z-index: 0;
  opacity: 0.1;
}


.front::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 560%;
  background: linear-gradient(90deg, transparent, var(--main-color), transparent);
  animation: rotation_481 5000ms infinite linear;
}

.front-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.work-items:hover .content {
  transform: rotateY(180deg);
}

.work-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width:420px) {
  
  .back h1 {
    font-size: 2.7rem;
  }
  
  .back p {
    font-size: 0.8rem;
  }

  .work-list {
    gap: 0.1rem;
    margin-left: 0.8rem;
  }

  .work-items{
    margin-bottom: 1.5rem;
  }

  .work h1 {
    font-size: 3rem;
  }

}